#content {
	padding-top: 75px;
}

#logo {
	margin-right: 5px;
	margin-left: 5px;
	width: 32;
	height: 32;
	text-align: middle;
}

#boardsDashboardAccordion {
	text-align: left;
	margin-left: 0;
	margin-right: 0;
}

#icon {
	margin-right: 5px;
	margin-left: 5px;
}

#boardsDashboardNewBoard {
	margin-bottom: 5;
	margin-top: 5;
	margin-right: 5;
	margin-left: 5;

}

#date {
	width: 65pt;
	margin-bottom: 5;
	margin-top: 5;
	margin-right: 5;
}

#homeScreenButton {
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
}

#homeScreenMain {
	text-align: center;
}

#homeScreenLeftColumn {	
	width: 35%;
	text-align: center;
}

#homeScreenRightColumn {
	width: 35%;
	text-align: center;
}
#homeScreenLogo {	
	margin-right: 3%;
	margin-left: 3%;
}