#content {
	padding-top: 75px;
}

#logo {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 32;
	height: 32;
	text-align: center;
}

.title-text {
	font-size: x-large;
	padding-left: 20px;
}

#boardsDashboardAccordion {
	text-align: left;
	vertical-align: middle;
	margin-left: 0;
	margin-right: 0;
}

#boardIcon {	
	margin-left: 10px;
	background-image: rgb(255,255,255);
	background-color: rgb(255,255,255);
}

#createBoardButton {
	margin: 5px;
	margin-bottom: 10px;
}

#email-input {
	height: 30px;
	width: 220px;
}

.accordion-heading .accordion-toggle {
	display: block;
	padding: 0px 15px;
}

.table{
	margin-bottom: 0;
}

#boardHead {
	vertical-align: middle;
	text-align: left;
}

#boardName {
	margin: 5px;
	vertical-align: middle;
	text-align: left;
}

#boardShare {
	margin: 2px;
}

#boardDelete {
	margin: 2px;
}

#homeScreenButton {
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
}

#homeScreenMain {
	text-align: center;
}

#homeScreenLeftColumn {	
	width: 35%;
	text-align: center;
}

#homeScreenRightColumn {
	width: 35%;
	text-align: center;
}
#homeScreenLogo {	
	margin-right: 3%;
	margin-left: 3%;
}

#trash-task {
	margin: 2px;
	margin-top: 9px;
	vertical-align: middle;
	float: right;
}

#start-Date{
	float: left;
}

#end-Date{
	float: right;
}

.dropped {
	color: "red";
}

.clickable {
	cursor: pointer;
	cursor: hand;
}

.icon {
	padding-left: 2px;
	padding-right: 2px;
}

.deleteUI {
	background-color: "red" !important; 
}