{% extends "layout.html" %}

{% block title %}Profile Settings{% endblock %}

{% block content %}
  
  <center>
  <div><img src="/static/img/blank_user_big.jpg" alt="Alternate Text" height="126" width="126"></div><br>
  <div>Name: <input type="text" id="user-name-input" name="name"></div><br>
  <div>Email: <input type="text" id="user-email-input" name="email"></div><br>
  <div id="boards">
    Boards: 
    <SELECT NAME="Boards" SIZE="8" MULTIPLE >
    {% for board in boards %}
    <OPTION> <input type="text" placeholder={board.name}>
    {% endfor %}
    </SELECT>
  </div>
  <br>

  <button onclick={% User.update(user.id, user.name, user.email) %}>Update</button>
  <button onclick="myFunction(name, email)">Cancel</button>
  </center>

{% endblock %}