{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="row"><p class="text-center">
			<div class="span12">
				<div class="span6" id="homeScreenLeftColumn">
					<img src="{{ url_for('static', filename='img/logo.png') }}" class="text-left" id="homeScreenLogo" alt="Sprint Beard" align="right">
				</div>
				<div class="span6" id="rightColumnHomePage">
					<h1><p class="text-center">Sprint Beard</p></h1>
				</div>
				<div class="span6" id="rightColumnHomePage">
						<button type="button" id="homeScreenButton" class="btn btn-large btn-block btn-success" onclick="location.href='login'">Log In</button>
						<button type="button" id="homeScreenButton" class="btn btn-large btn-block btn-primary" onclick="location.href='login'">Sign Up</button>
				</div>
			</div>
		</div></p>
	</div>
</div>
	
{% endblock %}
