<html>
	<head>
		{% block head %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />

		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
		
		<title>Sprint Beard | {% block title %}{% endblock %}</title>
		{% endblock %}
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<a href="{{'/dashboard' if user is defined else '/'}}">
					<span class="text-info title-text">
						<img src="{{ url_for('static', filename='img/logo_small.png') }}" id="logo" alt="Sprint Beard">
					Sprint Beard
					</span>
				</a>
				<span class="pull-right">
					<div class="nav-collapse collapse">
						<ul class="nav">
							{% if user is defined %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="" id="edit-profile-{{user.id}}" data-toggle="modal" data-target="#settingsModal">Edit Profile</a></li>
									<li class="divider"></li>
									<li><a href="/logout">Logout</a></li>
								</ul>
							</li>
							{% else %}
								<a href="/login">Login</a>
							{% endif %}
						</ul>
					</div>
				</span>
			</div>
		</div>
		
		<div id="content" class="container">
			{% block content %}
			{% endblock %}
		</div>

		<hr />
		<footer>
			<p class="muted pull-right"><small>&copy; Team Beard (2013)</small></p>
		</footer>
	</body>
</html>

<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="settings">User Settings</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                    	{% if user is defined %}
                        <label for="user-name-input">Name:</label>
                        <input type="text" class="form-control" id="user-name-input" value="{{user.name}}">
 	                    <label for="user-email-input">Email:</label>
                        <input type="text" class="form-control" id="user-email-input" value="{{user.email}}">
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="submit-info" type="button" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#submit-info").click(function()
    {
    	{% if user is defined %}
        var name = $('#user-name-input').val();
        var email = $('#user-email-input').val();
        if (name == "") { name = user.name; }
        if (email == "") { email = user.email; }
        $.ajax(
        {
            url: '/users/{{user.id}}/settings',
            type: 'POST',
            data: {
                'name': name,
                'email': email
            },
            success: function(result)
            {
                location.reload();
                $('#close').trigger('click');
            }
        });
        {% endif %}
    });
</script>