{% extends "helpers/invites.html" %}
{% block title %}{{board.name}}
{% endblock %}

{% block content %}
{{ super() }}

<table class="table table-bordered table-striped" id="backlogtable">
	<thead>
		<tr>
			<td>
				<span>Story:</span>
			</td>
			<td>
				<span>Description:</span>
			</td>
			<td width="10%" style="text-align:center;">
				<span>Estimate:</span>
			</td>
			<td width="10%" style="text-align:center;">
				<span>Assign:</span>
			</td>
			<td width="10%" style="text-align:center;">
				<span>Delete:</span>
			</td>
		</tr>
	</thead>	
	<tbody>
		{% for story in board.stories %}
		<tr>
			<td>
				{{story.name}}
			</td>
			<td>
				{{story.description}}
			</td>
			<td width="10%" style="text-align:center;">
				{{story.estimate}}
			</td>
			<td width="10%">
				<span class="btn btn-success pull-center" id="add-task-{{story.id}}">
					<i class="icon-plus"></i>
				</span>
			</td>
			<td width="10%">
				<span class="btn btn-danger pull-center" id="trash-task-{{story.id}}">
					<i class="icon-trash"></i>
				</span>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}