{% extends "layout.html" %}
{% block title %}Board Dashboard{% endblock %}
{% block content %}

<script type="text/javascript">
    $(function(){
        $(".boardAccordion").click(function(){
            $("#toggleDemo").collapse('toggle');
        });
    });
</script>

<div id="boardAccordion" class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapseOne" data-parent="#boardAccordion" data-toggle="collapse" class="accordion-toggle">My Boards</a>
        </div>
        <div class="accordion-body collapse" id="collapseOne">
            <div class="accordion-inner">
                <p>- List of Boards Here -</p>
                <p>- List of Boards Here -</p>
                <p>- List of Boards Here -</p>
            </div>
        </div>
    </div>
  
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapseTwo" data-parent="#boardAccordion" data-toggle="collapse" class="accordion-toggle">Pending Requests</a>
        </div>
        <div class="accordion-body collapse" id="collapseTwo">
            <div class="accordion-inner">
                <p>- List of Boards Here -</p>
                <p>- List of Boards Here -</p>
                <p>- List of Boards Here -</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

