{% extends "layout.html" %}
{% block title %}Board Dashboard{% endblock %}
{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div class="span5">
            <button type="button" class="btn btn-success" id="createBoardButton" data-toggle="modal" data-target="#boardModal">Create Board</button>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#myBoards" data-parent="#myBoards" data-toggle="collapse" class="accordion-toggle">
                <table><td>My Boards</td></table>
            </a>
        </div>
        <div class="accordion-body collapse in" id="myBoards">
            <div class="accordion-inner">
                <table class="table table-striped">
                    <tbody>
                        {% for board in boardList %}
                        <tr>
                            <td style="width: 50px;">
                                <a type="submit" class="btn btn-success" href="/boards/{{board.id}}">View</a>
                            </td>
                            <td id="boardName" <td style="width: 435px;">
                                {{board.name}}
                            </td>
                            <td style="width: 50px;">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#shareModal" id="board-share-{{board.id}}">
                                    <i class="icon-user"></i>
                                </button>
                            </td>
                            <td style="width: 50px;">
                                <button type="button" class="btn btn-danger" id="board-delete-{{board.id}}">
                                    <i class="icon-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#pending" data-parent="#pendingBoards" data-toggle="collapse" class="accordion-toggle">
                <table><td>Pending Invitations</td></table>
            </a>
        </div>
        <div class="accordion-body collapse in" id="pending">
            <div class="accordion-inner">
                <table class="table table-striped">
                    <tbody>
                        {% for board in inviteList %}
                        <tr>
                            <td style="width: 50px;">
                                <button type="button" class="btn btn-success">
                                    View
                                </button>
                            </td>
                            <td id="boardName" <td style="width: 435px;">
                                {{board.name}}
                            </td>
                            <td style="width: 50px;">
                                <button type="button" class="btn btn-info">
                                    <i class="icon-plus"></i>
                                </button>
                            </td>
                            <td style="width: 50px;">
                                <button type="button" class="btn btn-danger">
                                    <i class="icon-remove"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="boardModal" tabindex="-1" role="dialog" aria-labelledby="boardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="boardModalLabel">New Board</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="board-name-input">Enter Board Name:</label>
                        <input type="text" class="form-control" id="board-name-input" placeholder="Default Board Name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="close-create" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="submit-create" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="shareModalLabel">Share Board: <span id="shareName"></span></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="board-name-input" class="col-sm-2 control-label">Enter Email: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email-input" placeholder="Beard@example.com">
                        </div>
                        <label for="permission-level-input" class="col-sm-2 control-label">Permission: </label>
                        <div class="col-sm-10">
                            <select class="selectpicker" id="permission-input">
                                <option id="choice-owner">Owner</option>
                                <option id="choice-collaborator">Collaborator</option>
                                <option id="choice-viewer">Viewer</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="close-share" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="submit-share" type="button" class="btn btn-primary">Invite</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
$(document).ready(function()
{
    {% for board in boardList %}
    
    $("#board-delete-{{board.id}}").click(function()
    {
        $.ajax(
        {
            url: '/boards/{{board.id}}',
            type: 'DELETE',
            success: function(result)
            {
                location.reload();
                console.log("hello");
            }
        });
    });

    $("#board-share-{{board.id}}").click(function()
    {
        $('#submit-share').attr('board-id', '{{board.id}}');
        $('#shareName').text("{{board.name}}");
    });

    {% endfor %}

    $('#submit-share').click(function()
    {
        var board_id = $('#submit-share').attr('board-id');
        var email = $('#email-input').val();
        if (email == "")
        {
            email = "nwatterson@gmail.com";
        }
        var permission = $('#permission-input').val();
        var privileges = 0;
        if (permission == "Collaborator"){ privileges = 3; }
        if (permission == "Owner"){ privileges = 0; }
        if (permission == "Viewer"){ privileges = 2; }
        
        var urlBuild = "/boards/"+board_id+"/invite";

        $.ajax(
        {
            url: urlBuild,
            type: 'POST',
            data: {
                'email': email,
                'board_id' : board_id,
                'privileges' : privileges
            },
            success: function(result)
            {
                $('#close-share').trigger('click');
            }
        });
    });
    
    $("#submit-create").click(function()
    {
        var name = $('#board-name-input').val();
        if (name == "")
        {
            name = "The Board With No Name";
        }
        $.ajax(
        {
            url: '/user/{{user.id}}/boards',
            type: 'POST',
            data: {
                'name': name
            },
            success: function(result)
            {
                location.reload();
                $('#close-create').trigger('click');
            }
        });
    });
});
</script>

{% endblock %}
