    {% extends "layout.html" %}
    {% block title %}Board Dashboard{% endblock %}
    {% block content %}

    <div class="span12">
        <button type="button" class="btn btn-success">Create Board</button>
    </div>

    <div class="span12">
        <div class="span5"><p class="text-left"><i class="icon-tasks"></i>Board</p></div>
        <div class="span2"><p class="text-center"><i class="icon-calendar"></i>Start Date:</p></div>
        <div class="span2"><p class="text-center"><i class="icon-calendar"></i>Finish Date:</p></div>
        <div class="span1"><p class="text-center"><i class="icon-align-left"></i>Shared</p></div>
        <div class="span1"><p class="text-right"><i class="icon-trash"></i>Delete</p></div>
    </div>

    <div class="row-fluid">
        <div id="myAccordion" class="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#collapseOne" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">My Boards</a>
                </div>
                <div class="accordion-body collapse in" id="collapseOne">
                    <div class="accordion-inner">
                        <div class="span12">
                            <div class="span5"><p class="text-left"><i class="icon-tasks"></i>Board Name</p></div>
                            <div class="span2"><p class="text-center"><i class="icon-calendar"></i>11/27/13</p></div>
                            <div class="span2"><p class="text-center"><i class="icon-calendar"></i>11/27/13</p></div>
                            <div class="span1"><p class="text-center"><i class="icon-align-left"></i>Shared</p></div>
                            <div class="span1"><p class="text-right"><button type="button" class="btn btn-danger"><i class="icon-trash"></i></button></p></div>
                        </div>
                        <p>AgileBeardBoard</p>
                    </div>
                </div>
            </div>    
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a href="#collapseTwo" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">Pending Boards</a>
                </div>
                <div class="accordion-body collapse in" id="collapseTwo">
                    <div class="accordion-inner">
                        <p>Insert Table of boards?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

