{% extends "helpers/invites.html" %}
{% block title %}{{board.name}}
{% endblock %}

{% block dropdown %}
{% if isAdmin %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Board Admin<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="" id="edit-name" data-toggle="modal" data-target="#renameModal">Change Board Name</a></li>
        <li><a href="" data-toggle="modal" data-target="#shareModal" id="board-share-{{board.id}}">Invite User</a></li>
        <li><a href="" id="remove-user">Remove User</a></li>
        <li class="divider"></li>
        <li><a href="" id="add-story" data-toggle="modal" data-target="#addStoryModal">Add Story</a></li>
        <li><a href="" id="remove-story" data-toggle="modal" data-target="#remove-story-dropdown-modal">Delete Story</a></li>
    </ul>
</li>
{% endif %}
{% endblock%}

{% block content %}
{{ super() }}

<h1>{{board.name}}</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<td style="vertical-align:middle;">
                <span>Current Sprint</span>
            </td>
            <td style="vertical-align:bottom;">
                <span id="start-Date">
                    Start:
                    <input class="input-small" type="text" id="start-datepicker-{{board.sprint.id}}" placeholder="{{board.sprint.start.strftime('%m-%d-%Y')}}" style="margin-bottom: 0px;">
                     <i class="icon-calendar"></i>
                </span>
                <span id="end-Date">
                    End:
                    <input class="input-small" type="text" id="end-datepicker-{{board.sprint.id}}" placeholder="{{board.sprint.end.strftime('%m-%d-%Y')}}" style="margin-bottom: 0px;">
                    <i class="icon-calendar"></i>
                </span>
            </td>
            {% for user in board.users %}
            <td bgcolor="#19768e" style="width: 50px; vertical-align:middle;">
                <span> {{user.name.split(' ')[0]}} </span>
            </td>
            {% endfor %}
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="3"><a type="submit" class="btn btn-success" data-toggle="modal" data-target="#addStoryModal"><i class="icon-plus"></i></a></td>
        </tr>
    </tfoot>
    <tbody>
        {% for story in board.stories %}
        <tr id="story-{{story.id}}-row">
            <td style="width: 30%; vertical-align:middle;">
                <span class="badge pull-left" style="margin-right:3px;">{{story.estimate}}</span>
                <span>
                    {{story.name}}
                </span>
                <span>
                    <a type="submit" class="clickable" data-toggle="modal" data-target="#story-edit-modal" id="story-info-{{story.id}}">
                        <i class="icon icon-pencil"></i>
                    </a>
                </span>
                <span class="pull-right">
                    <a type="submit" class="clickable" data-toggle="modal" data-target="#story-info-modal" id="story-info-{{story.id}}">
                        <i class="icon icon-info-sign"></i>
                    </a>
                    <a type="submit" class="clickable" data-toggle="modal" data-target="#remove-story-modal" id="trash-story-{{story.id}}">
                        <i class="icon icon-trash"></i>
                    </a>
                </span>
            </td>
            <td style="width: 435px; vertical-align:middle;" id="tasks-cell-{{story.id}}">
                <span>
                    <a type="submit" class="btn btn-success" data-toggle="modal" data-target="#addTaskModal" id="add-task-{{story.id}}" style="height: 20;">
                        <i class="icon-plus"></i>
                    </a>
                </span>
                
                {% for task in story.tasks %}
                {% if task.users|count == 0%}
                <a type="submit" class="btn btn-info" id="task-{{task.id}}" data-toggle="modal" data-target="#task-info-modal">
                    {{task.name}}
                </a>
                {% endif %}
                {% endfor %}
                <span class="pull-right">
                    <i class="icon-trash" id="trash-task-{{story.id}}"></i>
                </span>
            </td>
            
            {% for user in board.users %}
            <td style="vertical-align:middle;" id="assign-to-user-{{story.id}}-{{user.id}}">
                {% for task in story.tasks %}
                {% if user.id in task.users %}
                <a type="submit" class="btn btn-info" id="task-{{task.id}}" data-toggle="modal" data-target="#task-info-modal">
                    {{task.name}}
                </a>
                {% endif %}
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal to Rename a board !-->
<div class="modal hide fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="modal-form" style="margin-bottom:0">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="rename">Renaming Board</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {% if user is defined %}
                        <label for="board-name-input">New Board Name:</label>
                        <input type="text" class="form-control" id="board-name-input" value="{{board.name}}">
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="change-name" type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal for adding a Story !-->
<div class="modal hide fade" id="addStoryModal" tabindex="-1" role="dialog" aria-labelledby="addStoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="modal-form" style="margin-bottom:0">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="rename">Add Story</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {% if user is defined %}
                        <label for="add-story-title-input">New Story Title:</label>
                        <input type="text" class="form-control" id="add-story-title-input" placeholder="New Story">
                        <label for="add-story-description-input">Description:</label>
                        <input type="text" class="form-control" id="add-story-description-input" placeholder="Default Description">
                        <label for="add-story-estimate-input">Estimate:</label>
                        <input type="number" min="0.0" max="99.0" step="0.25" class="form-control" style="height:30px;" id="add-story-estimate-input">
                        <label for="add-story-sprint-input">Sprint:</label>
                        <select id="add-story-sprint-input" style="width:207px;">
                            <option>Current</option>
                            <option>Backlog</option>
                        </select>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="cancel-add-story" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="add-story-button" type="submit" class="btn btn-primary">Add Story</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal to show info about a story -->
<div class="modal hide fade" id="story-info-modal" tabindex="-1" role="dialog" aria-labelledby="story-info-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="story-info-title-text" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p><strong>Description: </strong><span id="story-info-description"></span></p>
                <p><strong>Estimate: </strong><span id="story-info-estimate"></span> story points</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal to edit info about a story -->
<div class="modal hide fade" id="story-edit-modal" tabindex="-1" role="dialog" aria-labelledby="story-edit-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="modal-form" style="margin-bottom:0">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="story-edit-title-text" class="modal-title">Edit Story</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {% if user is defined %}
                        <label for="edit-story-title-input">Story Title:</label>
                        <input type="text" class="form-control" id="edit-story-title-input" placeholder="New Story">
                        <label for="edit-story-description-input">Description:</label>
                        <input type="text" class="form-control" id="edit-story-description-input" placeholder="Default Description">
                        <label for="edit-story-estimate-input">Estimate:</label>
                        <input type="number" min="0.0" max="99.0" step="0.25" class="form-control" style="height:30px;" id="edit-story-estimate-input">
                        <label for="edit-story-sprint-input">Sprint:</label>
                        <select id="edit-story-sprint-input">
                            <option>Current</option>
                            <option>Backlog</option>
                        </select>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="cancel-edit-story" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="edit-story-button" type="submit" class="btn btn-danger">Save Changes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--Modal for confirming deleting a story -->
<div class="modal hide fade" id="remove-story-modal" tabindex="-1" role="dialog" aria-labelledby="remove-story-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Story</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you really want to delete <span id="remove-story-modal-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button id="cancel-remove-story" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="remove-story-button" type="button" class="btn btn-danger">Delete Story</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--Modal for deleting a story from dropdown-->
<div class="modal hide fade" id="remove-story-dropdown-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Remove Story</h4>
            </div>
            <div class="modal-body">    
                <p>Select Modal:</p>
                <select id="remove-story-dropdown-input">
                    <option>-</option>
                    {% for story in board.stories %}
                        <option value="{{story.id}}">{{story.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button id="cancel-remove-story-dropdown" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="remove-story-button-dropdown" type="button" class="btn btn-danger">Remove Story</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal for adding a Task !-->
<div class="modal hide fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="modal-form" style="margin-bottom:0">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Task</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {% if user is defined %}
                        <label for="add-task-title-input">New Task Title:</label>
                        <input type="text" class="form-control" id="add-task-title-input" placeholder="New Task">
                        <label for="add-task-description-input">Description:</label>
                        <input type="text" class="form-control" id="add-task-description-input" placeholder="Default Description">
                        <label for="add-task-estimate-input">Estimate:</label>
                        <select id="add-task-estimate-input" class="span1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="cancel-add-task" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="add-task-modal" type="submit" class="btn btn-primary">Add Task</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal to show info about a task -->
<div class="modal hide fade" id="task-info-modal" tabindex="-1" role="dialog" aria-labelledby="task-info-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="task-info-title-text" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p><strong>Description: </strong><span id="task-info-description"></span></p>
                <p><strong>Estimate: </strong><span id="task-info-estimate"></span> man hours</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$(document).ready(function()
{
    $("#board-share-{{board.id}}").click(function()
    {
        $('#submit-share').attr('board-id', '{{board.id}}');
        $('#shareName').text("{{board.name}}");
    });
    
    $( "#start-datepicker-{{board.sprint.id}}" ).datepicker(
    {
        onSelect: function(dateText, inst) {
            var sprintDate = {{board.sprint.start.strftime('%m-%d-%Y')}};
            var dateAsString = dateText;

            console.log(dateAsString);
            console.log(sprintDate.toString());
            
        }
    });
    $( "#end-datepicker-{{board.sprint.id}}" ).datepicker({

    });

    $("#change-name").click(function()
    {
        {% if user is defined %}
        var name = $('#board-name-input').val();
        if (name == "") { name = board.name; }
        $.ajax(
        {
            url: '/boards/{{board.id}}/rename',
            type: 'POST',
            data: {
                'name': name,
            },
            success: function(result)
            {
                location.reload();
                $('#close').trigger('click');
            }
        });
        {% endif %}
    });

    $("#add-story-button").click(function()
    {
        {% if user is defined %}
        var name = $('#add-story-title-input').val();
        if (name == "") { name = "New Story";}
        var description = $('#add-story-description-input').val();
        var estimate = $('#add-story-estimate-input').val();
        var sprint_id = $('#add-story-sprint-input').val();
        $.ajax(
        {
            url: '/boards/{{board.id}}/stories',
            type: 'POST',
            data: {
                'name': name,
                'description': description,
                'estimate': estimate,
                'sprint_id': sprint_id
            },
            success: function(result)
            {
                location.reload();
                $('#cancel-add-story').trigger('click');
            }
        });
        {% endif %}
    });
    
    $("#edit-story-button").click(function() {
        {% if user is defined %}
        var name = $('#edit-story-title-input').val();
        if (name == "") { name = "New Story";}
        var description = $('#edit-story-description-input').val();
        var estimate = $('#edit-story-estimate-input').val();
        var sprint_id = $('#edit-story-sprint-input').val();
        var story_id = $("#edit-story-button").attr("story-id");
        var url = "/stories/" + story_id + "/edit";

        $.ajax(
        {
            url: url,
            type: 'POST',
            data: {
                'name': name,
                'description': description,
                'estimate': estimate,
                'sprint_id': sprint_id,
                'board_id': board_id
            },
            success: function(result)
            {
                location.reload();
                $('#cancel-edit-story').trigger('click');
            }
        });
        {% endif %}
    });

    {% for story in board.stories %}
    
    var tasks{{story.id}} = [];
    {% for task in story.tasks %}
    
    $("#task-{{task.id}}").click(function() {
        $("#task-info-title-text").text("{{task.name}}");
        $("#task-info-description").text("{{task.description}}");
        $("#task-info-estimate").text("{{task.estimate}}");
    });
    
    $(function() {
        $( "#task-{{task.id}}" ).draggable({
            hoverClass: "btn btn-danger",
            activeClass: "btn btn-danger",
            revert: "invalid",
            containment: "#story-{{story.id}}-row"
        });
    });
    tasks{{story.id}}.push("task-{{task.id}}");

    {% endfor %}
    $( "#trash-task-{{story.id}}" ).droppable({
        accept: function(elem) {
            var index = $.inArray(elem.attr("id"), tasks{{story.id}});
            if (index != -1) {
                return true;
            }
            return false;
        },
        hoverClass: "ui-state-active",
        drop: function( event, ui ){
            var index = $.inArray(ui.draggable.attr("id"), tasks{{story.id}});
            tasks{{story.id}}.splice(index, 1);
            deleteTask( ui.draggable );
        }
    });   

    var deleteTask = function( item ) {
        $.ajax({
            url: "/tasks/" + item.attr("id").substring(5),
            type: "DELETE",
            success: function() {
                item.remove().end();
            }
        })
    }

    $("#add-task-{{story.id}}").click(function()
    {
        $('#add-task-modal').attr('story_id', '{{story.id}}');
    });

    $("#story-info-{{story.id}}").click(function() {
        $("#story-info-title-text").text("{{story.name}}");
        $("#story-info-description").text("{{story.description}}");
        $("#story-info-estimate").text("{{story.estimate}}");
    });

    //remove the story
    $("#trash-story-{{story.id}}").click(function() {
        $("#remove-story-button").attr("story-id", "{{story.id}}");
        $("#remove-story-modal-name").text("{{story.name}}");
    });

    {% for user in board.users %}
    $( "#assign-to-user-{{story.id}}-{{user.id}}" ).droppable({
        accept: function(elem) {
            var index = $.inArray(elem.attr("id"), tasks{{story.id}});
            if (index != -1) {
                return true;
            }
            return false;
        },
        hoverClass: "ui-state-active",
        drop: function( event, ui ){
            console.log("dropped");
            reassignTaskToUser( ui.draggable, "{{user.id}}" );
        }
    });
    {% endfor %}
    {% endfor %}

    var reassignTaskToUser = function (item, user_id){
        var taskid = item.attr("id").substring(5);

        $.ajax({
            url: "/assign/tasks/" + taskid,
            type: "POST",
            data: {
                'user_id' : user_id
            }
        });
    }

    $("#remove-story-button").click(function() {
        var storyID = $("#remove-story-button").attr("story-id");
        var url = "/stories/" + storyID;
        
        $.ajax({
            url: url,
            type: "DELETE",
            success: function(result) {
                location.reload();
                $("#cancel-remove-story").trigger("click");
            }
        });
    });

    $("#remove-story-button-dropdown").click(function() {
        var storyID = $("#remove-story-dropdown-input").val();
        var url = "/stories/" + storyID;
        
        $.ajax({
            url: url,
            type: "DELETE",
            success: function(result) {
                location.reload();
                $("#cancel-remove-story").trigger("click");
            }
        });
    });


    $( "#add-task-modal" ).click(function()
    {
        var storyID = $('#add-task-modal').attr('story_id');
        var name = $('#add-task-title-input').val();
        if (name == "") { name = "Task";}
        var description = $('#add-task-description-input').val();
        var estimate = $('#add-task-estimate-input').val();
        var urlBuild = "/stories/" + storyID + "/tasks";

        $.ajax(
        {
            url: urlBuild,
            type: 'POST',
            data: {
                'name': name,
                'description': description,
                'estimate': estimate,
            },
            success: function(result)
            {
                location.reload();
                $('#cancel-add-task').trigger('click');
            }
        });
    });

});
</script>

{% endblock %}
