{% extends "helpers/invites.html" %}
{% block title %}{{board.name}}
{% endblock %}

{% block dropdown %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Board Admin<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="" id="edit-name" data-toggle="modal" data-target="#renameModal">Change Board Name</a></li>
        <li><a href="" data-toggle="modal" data-target="#shareModal" id="board-share-{{board.id}}">Invite User</a></li>
        <li><a href="" id="remove-user">Remove User</a></li>
        <li class="divider"></li>
        <li><a href="" id="add-story">Add Story</a></li>
        <li><a href="" id="remove-story">Remove Story</a></li>
    </ul>
</li>
{% endblock%}

{% block content %}
{{ super() }}

<h1>{{board.name}}</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>
                <span>Sprint Title </span>
            </td>
			<td>
                <span>Tasks</span>
                {% if board.sprint is defined %}
                    <span>
                        Start: <i class="icon-calendar"></i>
                    </span>
                    <span>
                        End: <i class="icon-calendar"></i>
                    </span>
                {% endif %}
            </td>
            {% for user in board.users %}
            <td bgcolor="#19768e" style="width: 50px;">
                <span> {{user.name.split(' ')[0]}} </span>
            </td>
            {% endfor %}
		</tr>
	</thead>
    <tbody>
    {% for story in board.stories %}
        <tr>
            <td style="width: 50px;">
                <span>{{story.name}} StoryName</span>
            </td>
            <td id="tasks-cell-{{story.id}}" style="width: 435px;">
                <a type="submit" class="btn btn-success" href="">Task</a>
                <a type="submit" class="btn btn-success" href="">Task</a>
                <a type="submit" class="btn btn-success" href="">Task</a>
            </td>
            {% for user in board.users %}
            <td>
            </td>
            {% endfor %}
        </tr>
        
    {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="rename">Renaming Board</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        {% if user is defined %}
                        <label for="board-name-input">New Board Name:</label>
                        <input type="text" class="form-control" id="board-name-input" value="{{board.name}}">
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="change-name" type="button" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function()
{
    {% for board in board_List %}

    $("#board-share-{{board.id}}").click(function()
    {
        $('#submit-share').attr('board-id', '{{board.id}}');
        $('#shareName').text("{{board.name}}");
    });

    {% endfor %}


    $("#change-name").click(function()
    {
        {% if user is defined %}
        var name = $('#board-name-input').val();
        if (name == "") { name = board.name; }
        $.ajax(
        {
            url: '/boards/{{board.id}}/rename',
            type: 'POST',
            data: {
                'name': name,
            },
            success: function(result)
            {
                location.reload();
                $('#close').trigger('click');
            }
        });
        {% endif %}
    });

    </script>

    <script>
    $(function() {
        $( "#draggable" ).draggable({ containment: "parent" });
        $( "#droppable" ).droppable({
            drop: function( event, ui ) {
                $( this )
                .addClass( "ui-state-highlight" )
                .find( "p" )
                .html( "Dropped!" );
            }
        });
    });
});
</script>

{% endblock %}