{% extends "helpers/invites.html" %}
{% block title %}{{board.name}}
{% endblock %}

<!-- The below javascript is neccessary to check user rights before the the page is loaded, to know whether to load the Board Admin dropdown. Currently the issue is that when it tries to use user_id, it hasn't been defined yet, because the page was set up to be accessible even when a user isn't logged in. The idea behind putting the code up here was to have the dropdown be conditional upon the success of this ajax call.-->
<!--
<script>
$('#check-rights')
{
    {% if user_id is defined %}
        var board_id = $('#submit-share').attr('board-id');
        var user_id = user_id;
        var urlBuild = "/boards/" + board_id + "/rights";

        $.ajax(
        {

            url: urlBuild,
            type: 'GET',
            data: {
                'board_id' : board_id,
                'user_id' : user_id
            },
            success: function(result)
            {
                //called when successful
                //$('#ajaxphp-results').html(data);
                console.log("success");
            },
            error: function(e)
            {
            //called when there is an error
            //console.log(e.message);
                console.log("fail");
            }
        });
    {% endif %}
};
</script>
-->

{% block dropdown %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Board Admin<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="" id="edit-name" data-toggle="modal" data-target="#renameModal">Change Board Name</a></li>
        <li><a href="" data-toggle="modal" data-target="#shareModal" id="board-share-{{board.id}}">Invite User</a></li>
        <li><a href="" id="remove-user">Remove User</a></li>
        <li class="divider"></li>
        <li><a href="" id="add-story" data-toggle="modal" data-target="#addStoryModal">Add Story</a></li>
        <li><a href="" id="remove-story">Remove Story</a></li>
    </ul>
</li>
{% endblock%}

{% block content %}
{{ super() }}

<h1>{{board.name}}</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>
                <span>Current Sprint</span>
            </td>
            <td>
                <span id="start-Date">
                    Start: {{board.sprint.start.strftime('%Y-%m-%d')}} <i class="icon-calendar"></i>
                </span>
                <span id="end-Date">
                    End: {{board.sprint.end.strftime('%Y-%m-%d')}}<i class="icon-calendar"></i>
                </span>
            </td>
            {% for user in board.users %}
            <td bgcolor="#19768e" style="width: 50px;">
                <span> {{user.name.split(' ')[0]}} </span>
            </td>
            {% endfor %}
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="3"><a type="submit" class="btn btn-success" data-toggle="modal" data-target="#addStoryModal"><i class="icon-plus"></i></a></td>
        </tr>
    </tfoot>
    <tbody>
        {% for story in board.stories %}
        <tr id="story-{{story.id}}-row">
            <td style="width: 50px;">
                <span>
                    {{story.name}}
                </span>
                <a type="submit" class="clickable pull-right" data-toggle="modal" data-target="#remove-story-modal" id="trash-story-{{story.id}}">
                    <i class="icon-trash"></i>
                </a>
            </td>
            <td id="tasks-cell-{{story.id}}" style="width: 435px;">
                <a type="submit" class="btn btn-success" data-toggle="modal" data-target="#addTaskModal" id="add-task-{{story.id}}">
                    <i class="icon-plus"></i>
                </a>
                
                {% for task in story.tasks %}
                <a type="submit" class="btn btn-info" id="task-{{task.id}}" href="">
                    {{task.name}}
                </a>
                {% endfor %}
                
                <a type="submit" class="clickable pull-right">
                    <i class="icon-trash" id="trash-task"></i>
                </a>
            </td>
            
            {% for user in board.users %}
            <td>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="modal hide fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="rename">Renaming Board</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        {% if user is defined %}
                        <label for="board-name-input">New Board Name:</label>
                        <input type="text" class="form-control" id="board-name-input" value="{{board.name}}">
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="change-name" type="button" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for adding a Story !-->
<div class="modal hide fade" id="addStoryModal" tabindex="-1" role="dialog" aria-labelledby="addStoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="rename">Add Story</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        {% if user is defined %}
                        <label for="add-story-title-input">New Story Title:</label>
                        <input type="text" class="form-control" id="add-story-title-input" value="New Story">
                        <label for="add-story-description-input">Description:</label>
                        <input type="text" class="form-control" id="add-story-description-input" value="Default Description">
                        <label for="add-story-estimate-input">Estimate:</label>
                        <select id="add-story-estimate-input" class="span1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <label for="add-story-sprint-input">Sprint:</label>
                        <select id="add-story-sprint-input">
                            <option>Current</option>
                            <option>Backlog</option>
                        </select>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel-add-story" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="add-story-button" type="button" class="btn btn-primary">Add Story</button>
            </div>
        </div>
    </div>
</div>

<!--Modal for confirming deleting a story -->
<div class="modal hide fade" id="remove-story-modal" tabindex="-1" role="dialog" aria-labelledby="remove-story-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Remove Story</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you really want to delete <span id="remove-story-modal-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button id="cancel-remove-story" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="remove-story-button" type="button" class="btn btn-danger">Remove Story</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for adding a Task !-->
<div class="modal hide fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Task</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        {% if user is defined %}
                        <label for="add-task-title-input">New Story Title:</label>
                        <input type="text" class="form-control" id="add-task-title-input" value="New Task">
                        <label for="add-story-description-input">Description:</label>
                        <input type="text" class="form-control" id="add-task-description-input" value="Default Description">
                        <label for="add-task-estimate-input">Estimate:</label>
                        <select id="add-task-estimate-input" class="span1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel-add-task" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="add-task-modal" type="button" class="btn btn-primary">Add Story</button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function()
{
    $("#board-share-{{board.id}}").click(function()
    {
        $('#submit-share').attr('board-id', '{{board.id}}');
        $('#shareName').text("{{board.name}}");
    });
    
    $("#change-name").click(function()
    {
        {% if user is defined %}
        var name = $('#board-name-input').val();
        if (name == "") { name = board.name; }
        $.ajax(
        {
            url: '/boards/{{board.id}}/rename',
            type: 'POST',
            data: {
                'name': name,
            },
            success: function(result)
            {
                location.reload();
                $('#close').trigger('click');
            }
        });
        {% endif %}
    });

    $("#add-story-button").click(function()
    {
        {% if user is defined %}
        var name = $('#add-story-title-input').val();
        if (name == "") { name = "New Story";}
        var description = $('#add-story-description-input').val();
        var estimate = $('#add-story-estimate-input').val();
        var sprint_id = $('#add-story-sprint-input').val();
        $.ajax(
        {
            url: '/boards/{{board.id}}/stories',
            type: 'POST',
            data: {
                'name': name,
                'description': description,
                'estimate': estimate,
                'sprint_id': sprint_id
            },
            success: function(result)
            {
                location.reload();
                $('#cancel-add-story').trigger('click');
            }
        });
        {% endif %}
    });

    {% for story in board.stories %}
    {% for task in story.tasks %}
    $(function() {
        $( "#task-{{task.id}}" ).draggable({
            revert: "invalid",
            containment: "#story-{{story.id}}-row"
        });
        $( "#trash-task-{{story.id}}" ).droppable({
            accept: "#task-{{task.id}}",
            activeClass: "#trash-task-{{story.id}}",
            drop: function( event, ui ){
                deleteTask( ui.draggable );
            }
        });        
    });

    function deleteTask( $item ){
        $item.remove().end();
    }
    {% endfor %}

    $("#add-task-{{story.id}}").click(function()
    {
        $('#add-task-modal').attr('story_id', '{{story.id}}');
    });

    //remove the story
    $("#trash-story-{{story.id}}").click(function() {
        $("#remove-story-button").attr("story-id", "{{story.id}}");
        $("#remove-story-modal-name").text("{{story.name}}");
    });

    {% endfor %}

    $("#remove-story-button").click(function() {
        var storyID = $("#remove-story-button").attr("story-id");
        var url = "/stories/" + storyID;
        
        $.ajax({
            url: url,
            type: "DELETE",
            success: function(result) {
                location.reload();
                $("#cancel-remove-story").trigger("click");
            }
        });
    });

    $( "#add-task-modal" ).click(function()
    {
        var storyID = $('#add-task-modal').attr('story_id');
        var name = $('#add-task-title-input').val();
        if (name == "") { name = "Task";}
        var description = $('#add-task-description-input').val();
        var estimate = $('#add-task-estimate-input').val();
        var urlBuild = "/stories/" + storyID + "/tasks";

        $.ajax(
        {
            url: urlBuild,
            type: 'POST',
            data: {
                'name': name,
                'description': description,
                'estimate': estimate,
            },
            success: function(result)
            {
                location.reload();
                $('#cancel-add-task').trigger('click');
            }
        });
    });
});
</script>

{% endblock %}
